html,
body {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}

button {
  width: 80px;
  height: 30px;
  border-radius: 4px;
  box-shadow: none;
  outline: none;
  cursor: pointer;
  
}

svg {
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
}

.chart-column-title {
  z-index: 3;
}

.chart-container .chart-title {
  font-size: 18px;
  fill: #4d4949;
  font-weight: bold;
  text-anchor: middle;
  dominant-baseline: center;
}

.chart-container .current-date {
  font-size: 45px;
  fill: #474747;
  text-anchor: end;
}

.y-axis text,
.y-axis .domain,
.x-axis .domain {
  display: none;
}

.x-axis .tick:first-of-type {
  display: none;
}

.x-axis .tick line {
  color: #ffffff;
}

.x-axis .tick text {
  color: #777777;
}

.columns .column-container .column-rect {
  fill-opacity: 0.8;
}

.columns .column-container .column-title {
  display: flex;
  font-weight: bold;
  text-anchor: end;
  fill: rgb(0, 0, 0);
  dominant-baseline: top;
  font-size: 14px;
}

.columns .column-container .column-value {
  text-anchor: end;
  dominant-baseline: bottom;
  font-size: 14px;
  fill: black
}

.legend {
  list-style: none;
}

.legend li {
  float: left; margin-right: 10px;
}

.legend span {
  border: 1px solid black; float: left; width: 12px; height: 12px; margin: 2px;
}

.legend .dex {
  background-color: #f6ccbf;
}

.legend .lending {
  background-color: #a4fcf5;
}

.legend .derivatives {
  background-color: #cfc3fb;
}

.legend .liquid-staking {
  background-color: #fbc3f4;
}

.legend .bridge {
  background-color: #fffcb0;
}

.legend .cdp {
  background-color: #82a9f9;
}

.legend .yield-aggregator {
  background-color: #ba728b;
}

.legend .other {
  background-color: #c3fbcb;
}

.button-grid {
  display: flex;
  flex-direction: row;
}

.modal {
  display: block; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 20%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
}

.modal-body {padding: 2px 16px;}

.modal-footer {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
}

.icon-grid {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
}

.icon-grid > a > img {
  display: flex;
  justify-content: center;
  align-self: center;
  margin-right: 10px;
}